<div class="container">
  <h1>Coder WebStore chat</h1>
  <input type="text" name="input-chat" id="chatbox">
  <p id="messagesLog"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>