<h3> Add a new record</h3>

<form action="/records"  method="POST">    
  <input type="text" name="artist" placeholder="Artist" required>  
  <input type="text" name="title" placeholder="Record title" required>  
  <input type="number" name="price" placeholder="Price" required>  
  <input type="text" name="thumbnail" placeholder="Image URL" required>  
  <input type="submit" value="Submit" class="btn-link">
</form>