<div>
  <h2>Coder WebStore chat</h2>
  <input type="text" name="input-chat" id="chatbox">
</div>
<p id="messagesLog"></p>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>